Package: com.wasp.BigAssCircleLS
Name: wasp Big Ass Circle Battery for LockHTML4
Version: 1.0
Architecture: iphoneos-arm
Description: wasp Big Ass Battery for LockHTML4
Depends: com.bushe.lockhtml4, com.matchstic.infostats2, com.macciti.waspclockcalendarwidgetpack1
Maintainer: wasp <wasp@outlook.com>
Author: wasp <wasp@outlook.com>
Section: Widgets
Depiction: https://wasp.github.io/Depictions/com.wasp.BigAssCircleLS/index.html
