Package: com.wasp.LS1
Name: wasp LockScreen 1
Version: 1.02
Architecture: iphoneos-arm
Description: wasp LockScreen 1
Depends: com.bushe.lockhtml4, com.macciti.waspclockcalendarwidgetpack1
Maintainer: wasp <wasp@outlook.com>
Author: wasp <wasp@outlook.com>
Section: Themes (LockScreens)
Depiction: https://wasp.github.io/Depictions/com.wasp.LS1/index.html
