Package: com.wasp.clockCalendarBanner2-LS
Name: wasp Clock Calendar Banner 2 for LockHTML4
Version: 1.0.2
Architecture: iphoneos-arm
Description: wasp Clock Calendar Banner 2 for LockHTML4
Depends: com.bushe.lockhtml4, com.matchstic.infostats2, com.macciti.waspclockcalendarwidgetpack1
Maintainer: wasp <wasp@outlook.com>
Author: wasp <wasp@outlook.com>
Section: Themes (LockScreens)
Depiction: https://wasp.github.io/Depictions/com.wasp.clockCalendarBanner2-LS/index.html
