Package: com.wasp.LS2
Name: wasp LockScreen 2
Version: 1.0
Architecture: iphoneos-arm
Description: wasp LockScreen 2
Depends: com.bushe.lockhtml4, com.macciti.waspclockcalendarwidgetpack1
Maintainer: wasp <wasp@outlook.com>
Author: wasp <wasp@outlook.com>
Section: Themes (LockScreens)
Depiction: https://wasp.github.io/Depictions/com.wasp.LS2/index.html
