Package: com.wasp.Ursula
Name: Ursula
Version: 1.0.3
Architecture: iphoneos-arm
Description: Ursula - A colored status bar theme for Anemone
Depends: com.anemonetheming.anemone
Maintainer: wasp <wasp@outlook.com>
Author: wasp <wasp@outlook.com>
Section: Themes
Depiction: https://wasp.github.io/Depictions/com.wasp.Ursula/index.html
