Package: com.wasp.lockglyph-bmw
Name: LockGlyph BMW
Version: 1.0
Architecture: iphoneos-arm
Description: LockGlyph BMW
Depends: com.evilgoldfish.lockglyph
Maintainer: wasp <wasp@outlook.com>
Author: wasp <wasp@outlook.com>
Section: Themes (LockGlyph)
Depiction: https://wasp.github.io/Depictions/com.wasp.lockglyph-bmw/index.html
