Package: com.wasp.clockCalendarBanner1
Name: wasp Clock Calendar Banner 1
Version: 1.2.8
Architecture: iphoneos-arm
Description: wasp Clock Calendar Banner 1
Depends: com.eldwin.iwidgets, com.matchstic.infostats2, com.macciti.waspclockcalendarwidgetpack1
Maintainer: wasp <wasp@outlook.com>
Author: wasp <wasp@outlook.com>
Section: Widgets
Depiction: https://wasp.github.io/Depictions/com.wasp.clockCalendarBanner1/index.html
