Package: com.wasp.IS2-battery-circles
Name: Charging Battery for LockScreen
Version: 1.2
Architecture: iphoneos-arm
Description: Charging Battery for LockScreen
Depends: com.bushe.lockhtml4, com.matchstic.infostats2
Maintainer: wasp <wasp@outlook.com>
Author: wasp <wasp@outlook.com>
Section: Themes (LockScreens)
Depiction: https://wasp.github.io/Depictions/com.wasp.IS2-battery-circles/index.html
