Package: com.wasp.BrownCydia
Name: Brown Cydia
Version: 1.0
Architecture: iphoneos-arm
Description: An Anemone ColorTint theme for Cydia
Depends: com.anemonetheming.anemone
Maintainer: wasp <wasp@outlook.com>
Author: wasp <wasp@outlook.com>
Section: Themes
Depiction: https://wasp.github.io/Depictions/com.wasp.BrownCydia/index.html
