Package: com.wasp.lockglyph-ironman1
Name: LockGlyph Iron Man 1
Version: 1.0
Architecture: iphoneos-arm
Description: LockGlyph Iron Man 1
Depends: com.evilgoldfish.lockglyph
Maintainer: wasp <wasp@outlook.com>
Author: wasp <wasp@outlook.com>
Section: Themes (LockGlyph)
Depiction: https://wasp.github.io/Depictions/com.wasp.lockglyph-ironman1/index.html
