Package: com.wasp.lockglyph-finger1
Name: LockGlyph Fingerprint 1
Version: 1.0
Architecture: iphoneos-arm
Description: LockGlyph Fingerprint 1
Depends: com.evilgoldfish.lockglyph
Maintainer: wasp <wasp@outlook.com>
Author: wasp <wasp@outlook.com>
Section: Themes (LockGlyph)
Depiction: https://wasp.github.io/Depictions/com.wasp.lockglyph-finger1/index.html
