Package: com.wasp.LS13
Name: wasp LS13 for LockHTML4
Version: 1.0
Architecture: iphoneos-arm
Description: wasp LS13 for LockHTML4
Depends: com.bushe.lockhtml4, com.macciti.waspclockcalendarwidgetpack1
Maintainer: wasp <wasp@outlook.com>
Author: wasp <wasp@outlook.com>
Section: Themes (LockScreens)
Depiction: https://wasp.github.io/Depictions/com.wasp.LS13/index.html
