Package: com.wasp.lockglyph-mario
Name: LockGlyph Super Mario Bros
Version: 1.0
Architecture: iphoneos-arm
Description: LockGlyph Super Mario Bros
Depends: com.evilgoldfish.lockglyph
Maintainer: wasp <wasp@outlook.com>
Author: wasp <wasp@outlook.com>
Section: Themes (LockGlyph)
Depiction: https://wasp.github.io/Depictions/com.wasp.lockglyph-mario/index.html
