Package: com.wasp.SpacePotatoSalad
Name: Space Potato Salad
Version: 1.2.2
Architecture: iphoneos-arm
Description: Space Potato Salad
Depends: com.anemonetheming.anemone
Maintainer: wasp <wasp@outlook.com>
Author: wasp <wasp@outlook.com>
Section: Themes
Depiction: https://wasp.github.io/Depictions/com.wasp.SpacePotatoSalad/index.html
